.cd-intro {
    position: relative;
    height: 100vh;
    width: 100%;
    /* vertically align its content */
    display: table;
    background: $primary-color;
    overflow: hidden;
    z-index: 1;
}

.cd-intro-content {
    /* vertically align inside its parent */
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    padding: 0 5%;
    background: $primary-color;
    @include font-smoothing;

    h1 {
        font-size: 2.4rem;
        // color: $color-3;
    }

    p {
        font-size: 1.4rem;
        font-weight: 700;
        line-height: 1.4;
        margin: 1em 0;
        // color: tint($color-2, 30%);
    }

    .action-wrapper {
        @include clearfix;
        display: inline-block;
    }

    .action-wrapper > * {
        float: left;
    }

    @include media-breakpoint-up(md) {
        
        h1 {
            font-size: 5.2rem;
            font-weight: 300;
        }

        p {
            font-size: 1.6rem;
            margin: 1.5em 0 1.9em;
        }
    }
}

.cd-btn {
    display: inline-block;
    padding: 1.2em 1.4em;
    font-size: 1.3rem;
    // color: $color-3;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
    // background-color: shade($color-2, 30%);
    border-radius: .25em;
    margin-right: 1.5em;

    &:nth-of-type(2) {
        margin-right: 0;
    }

    &.main-action {
        // background-color: $color-4;
    }

    @include media-breakpoint-up(sm) {
        padding: 1.2em 1.6em;
    }

    @include media-breakpoint-up(md) {
        padding: 1.4em 1.8em;
    }
}

.cd-intro-content h1,
.cd-intro-content h1 span,
.cd-intro-content p,  
.cd-intro-content .cd-btn {
    opacity: 0;

    .no-cssanimations & {
        opacity: 1;
    }
}


.cd-intro.video {
    display: block;
}

.video.cd-intro-content {
    display: block;
    height: 100%;
    position: relative;

    * {
        opacity: 1;
    }

    .svg-wrapper {
        position: absolute;
        z-index: 2;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
    }

    svg {
        position: absolute;
        @include center;
        opacity: 0.8;

        &.svg-mask {
            /* this is the svg mask used on desktop version */
            display: none;
        }
    }

    p, .action-wrapper {
        position: absolute;
        z-index: 3;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    
    p {
        bottom: calc(50% + 80px);
        margin: 0;
        // color: $color-1;
        min-width: 90%;
    }

    .action-wrapper {
        top: calc(50% + 120px);
        max-width: 300px;
        width: 100%;
        margin: 15px auto 0;
    }

    .cd-btn {
        // background-color: rgba($color-1, .4);

        &.main-action {
            // background-color: $color-4;
        }
    }

    @include media-breakpoint-up(md) {

        svg.svg-mask-mobile {
            display: none;
        }

        svg.svg-mask {
            display: block;
        }

        p {
            bottom: calc(50% + 40px);
        }

        .action-wrapper {
            top: calc(50% + 100px);
        }
    }
}

.cd-bg-video-wrapper {
    /* background cover video */
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: url(../assets/bg-trenton.jpg) no-repeat center center;
    background-size: cover;

    video {
        /* you won't see this element in the html, but it will be injected using js */
        display: block;
        position: absolute;
        @include center;
        min-height: 100%;
        min-width: 100%;
        max-width: none;
        height: auto;
        width: auto;
    }

    &::after {
        /* never visible - this is used in jQuery to check the current MQ */
        display: none;
        content: 'mobile';
    }

    @include media-breakpoint-up(md) {

        &::after {
            content: 'desktop';
        }
    }
}